.menu{
    background-color: greenyellow;
    display: flex;
    align-items: center;  
}
Link{
    text-decoration: none   ;
}
.menu div{
    background-color: red;
    margin: 5px;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    height: min-content;
    border-radius: 20px;
    width: min-content;
}
.menu .logOut{
    background-color: olive;
    right: 0px;
    margin-right: 0px;
    
}
