.menu {
  /* Estilos generales del menú */

  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:flex-start;
  margin:5px;
  padding: 10px;
}

.item{
    color: white;
    border:1px solid yellow;
    margin-left: 5%;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
}

.item:hover{
    background-color: yellow;
    border: 1px solid grey;
    color: black;
}

#user{ 
    margin-left: 1%; 
    height: 80px;
    display: flex;
    align-items: center;
}
.userinfo{
    padding: 15px;
}

#roleUser{
    text-transform: capitalize;
}

.logOut{
   padding-bottom: 20%;
}

.menu a {
  /* Estilos para los enlaces dentro del menú */
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover {
    color: black;
}

#nameUser {
  /* Estilos para el nombre de usuario */
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.logOut button {
  /* Estilos para el botón de cierre de sesión */
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border: 1px solid black;
}

.logOut button:hover {
    background-color: black;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }