
.places{
    background-color: aqua;
}


ul {
  position: fixed;
  top: 120px;
  list-style-type: none;
  margin-left: 2%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

    /* tabla de placeslist*/

    .placesList {
      margin-top: 6%;
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
     
    }
    
    #placesListHeader {
      background-color: yellow;
      font-size: 160%;
      font-weight: bolder;
    }

    #place {
      height: 80px;
      background-color: white;
      color: black;
      font-size: 130%;
    }
    #place:nth-child(even) {
      background-color: #2b303b;
      color: white;
    }


  /* post grid */
  .cardplacegrid{
    background-color: rgba(117, 117, 117, 0.13);
    color: white;
    margin-top:5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 50px;
    width: 40%;
    display: flex;
  }

  .placeimg img{
    border-radius: 50px 0px 0px 50px / 25px 0px 0px 25px;
  }

  .bodyPlace{
    margin-left: 10%;
    margin-top: 40%;
  }

  .favouritePlace{
    margin-left: 10% ;
    margin-top: 50%;
  }